{% if soft_delete %}
from datetime import datetime, timezone

{% endif %}
from sqlalchemy.orm import Session

from backend.app.models.{{ module }} import {{ class_name }}


class {{ class_name }}CRUD:

    def __init__(self, db: Session):
        self.db = db

{% if soft_delete %}
    def get(self, item_id, include_deleted: bool = False):
        query = self.db.query({{ class_name }}).filter(
            {{ class_name }}.{{ primary_key_name }} == item_id
        )
        if not include_deleted:
            query = query.filter({{ class_name }}.deleted_at.is_(None))
        return query.first()

    def list(self, include_deleted: bool = False):
        query = self.db.query({{ class_name }})
        if not include_deleted:
            query = query.filter({{ class_name }}.deleted_at.is_(None))
        return query.all()

    def delete(self, item_id):
        item = self.get(item_id, include_deleted=True)
        if item is None or item.deleted_at is not None:
            return item
        item.deleted_at = datetime.now(timezone.utc)
        try:
            self.db.commit()
        except Exception:
            self.db.rollback()
            raise
        self.db.refresh(item)
        return item

    def restore(self, item_id):
        item = self.get(item_id, include_deleted=True)
        if item is None or item.deleted_at is None:
            return item
        item.deleted_at = None
        try:
            self.db.commit()
        except Exception:
            self.db.rollback()
            raise
        self.db.refresh(item)
        return item
{% else %}
    def get(self, item_id: int):
        return (
            self.db.query({{ class_name }})
            .filter({{ class_name }}.id == item_id)
            .first()
        )

    def list(self):
        return (
            self.db.query({{ class_name }})
            .all()
        )
{% endif %}
