from pydantic import BaseModel


class {{ class_name }}Base(BaseModel):
    pass


class {{ class_name }}Create({{ class_name }}Base):
    pass


class {{ class_name }}Update(BaseModel):
    pass


class {{ class_name }}Response({{ class_name }}Base):
    id: int

    model_config = {
        "from_attributes": True,
    }