from backend.app.crud.{{ module }} import {{ class_name }}CRUD


class {{ class_name }}Service:

    def __init__(self, db):
        self.crud = {{ class_name }}CRUD(db)

{% if soft_delete %}
    def get(self, item_id, include_deleted: bool = False):
        return self.crud.get(item_id, include_deleted=include_deleted)

    def list(self, include_deleted: bool = False):
        return self.crud.list(include_deleted=include_deleted)

    def delete(self, item_id{% if audit_fields %}, actor_id{% endif %}):
        return self.crud.delete(item_id{% if audit_fields %}, actor_id{% endif %})

    def restore(self, item_id{% if audit_fields %}, actor_id{% endif %}):
        return self.crud.restore(item_id{% if audit_fields %}, actor_id{% endif %})
{% else %}
    def get(self, item_id: int):
        return self.crud.get(item_id)

    def list(self):
        return self.crud.list()
{% endif %}
